<div class="size-full grid grid-rows-2 grid-cols-10">
  <div class="row-span-2 col-span-6">
    <div class="text-xl font-bold ">
      About Actors
    </div>
    <div class="flex gap-4">
      <div class="font-bold">
        Example Buttons:
      </div>
      <button
        class="border-2 rounded-md "
        (click)="handleFailToStartUserSessionClick()">
        UserSessionInitFail
      </button>
    </div>
  </div>
  <div class="row-span-2 col-span-4 flex flex-col items-stretch">
    @for (entry of log; track entry) {
      <div class="font-semibold">
        {{ entry }}
      </div>
    }
  </div>
</div>
